{% extends 'base.html' %}
{% load static %}

{% block content %}
        <div class="content">
            <div class="posts">
                <div class="blablabla">
                    <p class="post-title">How to learn Python</p>
                    <p class="post-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae aut, eaque,
                        odit quia laudantium maiores soluta numquam deserunt error vel, laborum molestias unde at eius
                        animi provident consequuntur facere necessitatibus.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae aut, eaque,
                        odit quia laudantium maiores soluta numquam deserunt error vel, laborum molestias unde at eius
                        animi provident consequuntur facere necessitatibus.
                        <br/>
                        <br/>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae aut, eaque,
                        odit quia laudantium maiores soluta numquam deserunt error vel, laborum molestias unde at eius
                        animi provident consequuntur facere necessitatibus.
                        <br/>
                        <br/>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae aut, eaque,
                        odit quia laudantium maiores soluta numquam deserunt error vel, laborum molestias unde at eius
                        animi provident consequuntur facere necessitatibus.
                        <br/>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae aut, eaque,
                        odit quia laudantium maiores soluta numquam deserunt error vel, laborum molestias unde at eius
                        animi provident consequuntur facere necessitatibus.</p>
                </div>
                <img class="picture2" src="{% static 'imagine/avatar2.png' %}">
            </div>
        </div>

{% endblock content %}