{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- МНТ-->
{% block not_auth_content %}
<!-- МНТ-->

    <div class="posts">
        {% for post in object_list %}
            <div class="post">
                <a href="{% url 'core:post_detail' id=post.id%}">
                <div class="image_wrapper">
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="здесь должна быть картинка">
                    {% endif %}
                </div>
                <p class="post-title">{{post.title}}</p>
                <br/>
                <p class="post-body">{{post.body}}</p>
            </a>
            </div>
        {% endfor %}
    </div>

<!-- МНТ-->
{% endblock not_auth_content %}
<!-- МНТ-->

{% endblock content %}