{% extends 'base.html' %}
{% load static %}

{% block content %}





<!-- МНТ-->
{% block not_auth_content %}
<!-- МНТ-->

<div class="post_detail">
<!--    <h1>Post detail page</h1>-->


    {% if post.image %}
        <img class="post_detail_picture" src="{{ post.image.url }}" alt="здесь должна быть картинка">
    {% endif %}

    <!--MHT-->
{% if user == post.author or user.username == 'admin' %}
<!--MHT-->
    <br>
    <div>
    <a class='delete_post' href="{% url 'core:post_delete' post.id %}" > Delete post </a>
    </div>
<!--MHT-->
{% endif %}
<!--MHT-->

<!--    <h1>{{ post }}</h1>-->
    <div class="post-title">{{post.title}}</div>
    <div style="font-size:20px;">Author: {{post.author}}</div>
    <br>
    <div class="post-body">{{post.body}}</div>

    <br>

<!--    <h3>Comments:</h3>-->
    <p style="font-size:20px;">Comments: </p>
    <div>
        {% for comment in post.comments.all %}
        <li class="post_comments">{{comment.author}}: {{comment}} </li>
        {% endfor %}
    </div>

</div>

<!-- МНТ-->
{% endblock not_auth_content %}
<!-- МНТ-->


{% endblock content %}