{% extends 'base.html' %}
{% load static %}

{% block content %}

<!--MHT-->
{% if user == post.author or user.username == 'admin' %}
<!--MHT-->

<a href="{% url 'core:post_delete' post.id %}" style="color: red; margin-bottom: 10px"> Delete post </a>

<!--MHT-->
{% endif %}
<!--MHT-->



<!-- МНТ-->
{% block not_auth_content %}
<!-- МНТ-->

<div class="post_detail">
    <h1>Post detail page</h1>
    <h1>{{ post }}</h1>

<!--    создать класс для картинок внутри поста-->
    {% if post.image %}
        <img src="{{ post.image.url }}" alt="здесь должна быть картинка">
    {% endif %}
<!--    создать класс для картинок внутри поста-->

    <div class="post_body">{{post.body}}</div>

    <h1>Comments:</h1>
    <div class="post_comments">
        {% for comment in post.comments.all %}
        <li>{{comment}} | {{comment.author}}</li>
        {% endfor %}
    </div>

</div>

<!-- МНТ-->
{% endblock not_auth_content %}
<!-- МНТ-->


{% endblock content %}