{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="wrapper">
    <div class="header">
        <ul class="menu">
            <li class="menu-item"><a href="{% url 'core:home_page'%}">HOME</a></li>
            <li class="menu-item"><a href="{% url 'core:about_page'%}">ABOUT</a></li>

        </ul>

        <div class="header_right">
            {% if user.is_authenticated %}
                <a class="create_post_bnt" href="{% url 'core:post_create' %}">Create new post</a>
                <a class="create_post_bnt" href="{% url 'core:user_posts_page' %}">My posts</a>
            {% endif %}


                <div class="user">
                    {% if user.is_authenticated %}
                        <div class="greeting">
                            Hello, {{user}}
                            <img class="picture" src="{% static 'imagine/avatar1.png' %}">
                            <a class="header_logout" href="{% url 'logout' %}">Logout</a>
                        </div>

                    {% else %}
                        <div class="greeting">
                            Hello, dear user, please login
                            <a class="header_button" href="{% url 'login' %}">Login</a>
                        </div>
                    {%endif %}
                </div>
        </div>
    </div>

    <div class="content">
        {% if user.is_authenticated %}
            {% block content %}{% endblock content %}
        {% else %}
            {% block not_auth_content %}{% endblock not_auth_content %}
        {% endif %}
    </div>

    <div class="footer">
        <p>MIT License</p>
    </div>
</div>
</body>

</html>
