{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="wrapper">
    <div class="header">
        <ul class="menu">
            <li class="menu-item"><a href="{% url 'core:home_page'%}">HOME</a></li>
            <li class="menu-item"><a href="{% url 'core:about_page'%}">ABOUT</a></li>
        </ul>
        <div class="user">
            <div class="greeting">
                Hello, Admin
                <img class="picture" src="{% static 'imagine/avatar1.png' %}">
            </div>
        </div>
    </div>

    <div class="content">
        {% block content %}{% endblock content %}
    </div>

    <div class="footer">
        <p>MIT License</p>
    </div>
</div>
</body>

</html>
