* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}
p {
    display: inline;
}

li {
    font-size: 22px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #75747f;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #d4d7e3;
    align-items: center;
}

.header_right {
    display: flex;
    justify-content: center;
    align-items: center;
}

a.header_logout{
    padding: 7px;
    color:red;
    margin:20px;
    background-color: #fff;
    border-radius: 5px;
}

a.header_button{
    padding: 7px;
    color:red;
    margin:20px;
    background-color: #fff;
    border-radius: 5px;
}

.create_post_bnt {
    padding: 7px;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 5px;
}
.picture{
    max-width: 40px;
    height: 40 px;
    margin: 5px;
}


.greeting{
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    list-style-type: none;
}

.menu-item {
    margin-left: 10px;
}

.posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.post{
    background-color: #abafbb;
    display: flex;
    flex-direction: column;
    width:25%;
    margin: 3%;
    padding: 1%;
}

.image_wrapper {
    width: 98%;
}

.image_wrapper img {
    width: 100%;
}

.about_text{
    background-color: #abafbb;
    display: flex;
    flex-direction: column;
    max-width:55%;
    margin: 3%;
    padding: 1%;
}

.picture2{
    display: flex;
    width:25%;
    margin: 3%;
}

.post-title {
    font-size: 22px;
}
.post-body {
    font-size: 16px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #d4d7e3;
}